@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.typewriter-text {
  padding-right: 10px;
  color: #4285f4;
  border-right: solid #4285f4 7px;
  text-transform: uppercase;
  -webkit-animation: cursor 1s ease-in-out infinite;
          animation: cursor 1s ease-in-out infinite;
  font-weight: bold;
}

@-webkit-keyframes cursor {
  from {
    border-color: #4285f4;
  }
  to {
    border-color: transparent;
  }
}

@keyframes cursor {
  from {
    border-color: #4285f4;
  }
  to {
    border-color: transparent;
  }
}

a.apply,
button.apply {
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  background: #4285f4;
}

a {
  color: #5a5a5a;
  text-decoration: none;
}

body {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  padding: 3% 10%;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.top-bar img {
  height: 3.5rem;
}

.top-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar .nav-link {
  margin: 0 1rem 0 0;
}

.top-bar .nav-link:hover {
  color: #4285f4;
  font-weight: 600;
}

.head {
  margin: 7rem 5%;
  text-align: center;
}

.head .heading {
  font-size: 4rem;
  font-weight: 800;
  color: #1a1a1a;
}

.head .sub-heading {
  color: #5a5a5a;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 20rem;
  min-width: 10rem;
  padding: 3rem 0;
  margin: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
}

.cards .card .title {
  padding: 0 3rem;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cards .card .person {
  text-transform: uppercase;
  color: #4285f4;
  padding: 0.2rem 3rem;
  background: #d3e2fc;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cards .card .desc {
  padding: 0 3rem;
}

.cards .card:hover {
  -webkit-box-shadow: 0px 0px 15px -8px rgba(44, 56, 228, 0.75);
          box-shadow: 0px 0px 15px -8px rgba(44, 56, 228, 0.75);
}

.footer {
  width: 100%;
}

.footer span {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto 0 auto;
}

section {
  margin: 5rem 0;
}

section .header h2.bar {
  border-bottom: solid 2px #1f1534;
  padding: 10px;
  width: 25px;
}

section .main {
  color: #5a5a5a;
  margin-top: 2rem;
}

section p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #4285f4;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 25rem;
  font-size: 1rem;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0px 0px 15px -6px rgba(71, 80, 216, 0.75);
          box-shadow: 0px 0px 15px -6px rgba(71, 80, 216, 0.75);
}

#register button {
  margin-top: 1rem;
}

#register button a {
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .top-bar nav {
    margin-top: 1rem;
  }
  .head {
    margin: 5rem 5%;
  }
  .head .heading {
    font-size: 3rem !important;
  }
  .card {
    max-width: 12.5rem;
  }
}
/*# sourceMappingURL=index.css.map */